body{
    font-family: roboto;
    background: #e7e7e7;
}
.header{
    width: 100%;
    float: left;
    padding: 0em 30%;
    background: #ead5c8;
    margin: -15px -8px;
}
.head-img{
    float: left;
    width: 5%;
}
.head-txt{
    float: left;
    width: 50%;
}
.head{
    width: 100%;
    text-align: left;
    font-size: 1.5em;
    float: left;
    margin: 1.5em 0em 1.5em 2em;
}
.status-time{
    float: left;
}
.master-container{
    float: left;
    width: 90%;
    margin: 1% 5%
}
.block-container{
    float: left;
    width: 48%;
    margin: 1% 1%;
}
.floor{
    width: 100%;
    float: left;
}
.apartment{
    float: left;
    width: 24.6%;
    margin: 0.2%;
    background-color: #fff;
    text-align: center;
    border-radius: 0px;
    
}
.apartment:hover{
    transition: all 200ms;
    box-shadow: 0em 0.3em 3em rgba(0,0,0,0.4);
    transform: scale(1.2);
    cursor: pointer;
}
.full{
    width: 100%
}
.half{
    width: 49.6%
}
.inactive{
    background-color: #cecbb2;
}
.booked{
    background-color: #ef8686;   
}
.inactive:hover , .booked:hover{
     cursor: no-drop;
    transition: all 200ms;
    box-shadow: 0em 0.3em 3em rgba(0,0,0,0);
    transform: scale(1);
}
.ap-number{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-weight: 600;
}
.full > .ap-number{
    font-size: 1.2em;
    margin: 1em;
    font-weight: 400;
}
.amities{
    text-align: right;
    margin-right: 1em;
}
.instr{
    width: 80%;
    margin: 0% 10%;
}
.icom{
    padding: 0.2em 2em;
    margin: 0em 1em;
    color: rgba(0,0,0,0);
    border-radius: 500px
}