{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="header">
    <img class="head-img" src="{% static '/img/logo.png' %}"/>
        <div class="head-txt">
    <h1 class="head">MDU Faculty Guest House Room Status{{ context.221 }}</h1>
    <p class="status-time">last updated on {{ timestamp }}</p>
        </div>
    </div>
    
    <div class="master-container">
        <div class="block-container">
            <div class="floor">
                <div class="apartment {{ data.221 }}">
                    <h3 class="ap-number">221</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.222 }}">
                    <h3 class="ap-number">222</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.223 }}">
                    <h3 class="ap-number">223</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.224 }}">
                    <h3 class="ap-number">224</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment {{ data.111 }}">
                    <h3 class="ap-number">111</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.112 }}">
                    <h3 class="ap-number">112</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.113 }}">
                    <h3 class="ap-number">113</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.114 }}">
                    <h3 class="ap-number">114</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment full inactive">
                    <h3 class="ap-number">VIP SUITE 1</h3>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
          <!-- block container ends here -->
        <div class="block-container">
            <div class="floor">
                <div class="apartment {{ data.225 }}">
                    <h3 class="ap-number">225</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.226 }}">
                    <h3 class="ap-number">226</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.227 }}">
                    <h3 class="ap-number">227</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.228 }}">
                    <h3 class="ap-number">228</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment {{ data.115 }}">
                    <h3 class="ap-number">115</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.116 }}">
                    <h3 class="ap-number">116</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.117 }}">
                    <h3 class="ap-number">117</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.118 }}">
                    <h3 class="ap-number">118</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment full inactive">
                    <h3 class="ap-number">VIP SUITE 2</h3>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
        <!-- upper right block ends here -->
        
        
        <div class="block-container">
            <div class="floor">
                <div class="apartment {{ data.8 }}">
                    <h3 class="ap-number">8</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.7 }}">
                    <h3 class="ap-number">7</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.6 }}">
                    <h3 class="ap-number">6</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.5 }}">
                    <h3 class="ap-number">5</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment {{ data.16 }}">
                    <h3 class="ap-number">16</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.15 }}">
                    <h3 class="ap-number">15</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ data.14 }}">
                    <h3 class="ap-number">14</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment inactive {{ data.13 }}">
                    <h3 class="ap-number">13</h3>
                    <p class="amities">IIM-Resrved</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment {{ data.24 }}">
                    <h3 class="ap-number">24</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ data.23 }}">
                    <h3 class="ap-number">23</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ data.22 }}">
                    <h3 class="ap-number">22</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ data.21 }}">
                    <h3 class="ap-number">21</h3>
                    <p class="amities">NON-AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
          <!-- block container ends here -->
        <div class="block-container">
            <div class="floor">
                <div class="apartment half">
                    <h3 class="ap-number">Suit 2</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment half">
                    <h3 class="ap-number">Suit 1</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment inactive {{ data.12 }}">
                    <h3 class="ap-number">12</h3>
                    <p class="amities">IIM-Resrved</p>
                </div>
                <div class="apartment inactive {{ data.11 }}">
                    <h3 class="ap-number">11</h3>
                    <p class="amities">IIM-Resrved</p>
                </div>
                <div class="apartment inactive {{ data.10 }}">
                    <h3 class="ap-number">10</h3>
                    <p class="amities">IIM-Resrved</p>
                </div>
                <div class="apartment inactive {{ data.9 }}">
                    <h3 class="ap-number">9</h3>
                    <p class="amities">IIM-Resrved</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment {{ data.20 }}">
                    <h3 class="ap-number">20</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ data.19 }}">
                    <h3 class="ap-number">19</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ data.18 }}">
                    <h3 class="ap-number">18</h3>
                    <p class="amities">NON_AC</p>
                </div>
                <div class="apartment {{ data.17 }}">
                    <h3 class="ap-number">17</h3>
                    <p class="amities">NON-AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
        <!-- upper right block ends here -->
        
    </div>
    <div class="instr">
        <p><span class="icom inactive">o</span>Reserved for IIM or other pourposes</p>
        <p><span class="icom booked">o</span>Booked or there is already a faculty living in that apartment</p>
    </div>
</body>
</html>